<style type="text/css">
  .content-wrapper.test {
    min-height: 1650px !important;
  }
</style>
<div class="container">
  <!-- Container start here -->
  <section class="content-header">
    <h1>Terms & Conditions
    </h1>
  </section>
  <div class="col-sm-12 text-center">
    <img src="resource/css/img/coming-soon.jpg">
    <br>
    <br>
    <br>
  </div> 
  <!--

  <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="new-body">
      <div class="row">
        <div class="form-group col-md-4">
          <div>
            <label>Job title, Keywords or Company	
            </label> 
            <input ng-model="searchBean.serachKey" class="form-control ng-pristine ng-valid ng-touched" placeholder="Search ...">
          </div>
        </div> 
        <div class="form-group col-md-2">
          <div class="displaytable"> 
            <div class="displaytable-cell">
              <a href="" ng-click="searchJobs('YIN16JNWN3B11893');" class="btn button save margin-2"> Find Jobs
              </a>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <!-- Search  jobs table start here-->
        <!--
        <div class="container">
          <div class="row">

            <div class="row  result">
              <h4 id="jl_307d404515dccb3e" class="jobtitle">
                <a href="javascript:void(0)">Investigative Analyst
                </a>
              </h4>
              <span class="company">
                <span itemprop="name">New York District Attorney's Office
                </span>
              </span>
              - 
              <span itemprop="addressLocality">New York, NY
              </span>
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td class="snip">
                      <div>
                        <span class="summary" itemprop="description">
                          <b>Search
                          </b> social media (e.g. Coordinate with ISPs to obtain accurate information about whether content of communications is 
                          <b>saved
                          </b> on their servers....
                        </span>
                      </div>
                      <div class="result-link-bar-container">
                        <span class="date">2 days ago
                        </span> 
                        <a href="javascript:void(0)">save job
                        </a>
                        - 
                        <span>
                          <a href="#">more...
                          </a>
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

    		
    		
            <div class="row  result">
              <h4 id="jl_307d404515dccb3e" class="jobtitle">
                <a href="javascript:void(0)">Teacher - Guidance Counselor - RYOCF &amp; WCI
                </a>
              </h4>
              <span class="company">
                <span itemprop="name">New York District Attorney's Office
                </span>
              </span>
              - 
              <span itemprop="addressLocality">New York, NY
              </span>
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td class="snip">
                      <div>
                        <span class="summary" itemprop="description">
                          <b>Search
                          </b> social media (e.g. Coordinate with ISPs to obtain accurate information about whether content of communications is 
                          <b>saved
                          </b> on their servers....
                        </span>
                      </div>
                      <div class="result-link-bar-container">
                        <span class="date">2 days ago
                        </span> 
                        <a href="javascript:void(0)">save job
                        </a> - 
                        <span>
                          <a href="#">more...
                          </a>
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
    		
            <div class="row  result">
              <h4 id="jl_307d404515dccb3e" class="jobtitle">
                <a href="javascript:void(0)">Consulting - Associate – Dynamics GP
                </a>
              </h4>
              <span class="company">
                <span itemprop="name">New York District Attorney's Office
                </span>
              </span>
              - 
              <span itemprop="addressLocality">New York, NY
              </span>
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td class="snip">
                      <div>
                        <span class="summary" itemprop="description">
                          <b>Search
                          </b> social media (e.g. Coordinate with ISPs to obtain accurate information about whether content of communications is 
                          <b>saved
                          </b> on their servers....
                        </span>
                      </div>
                      <div class="result-link-bar-container">
                        <span class="date">2 days ago
                        </span> 
                        <a href="javascript:void(0)">save job
                        </a> - 
                        <span>
                          <a href="#">more...
                          </a>
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
    		
            <div class="row result">
              <h4 id="jl_307d404515dccb3e" class="jobtitle">
                <a href="javascript:void(0)">Support Services Coordinator
                </a>
              </h4>
              <span class="company">
                <span itemprop="name">New York District Attorney's Office
                </span>
              </span>
              - 
              <span itemprop="addressLocality">New York, NY
              </span>
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td class="snip">
                      <div>
                        <span class="summary" itemprop="description">
                          <b>Search
                          </b> social media (e.g. Coordinate with ISPs to obtain accurate information about whether content of communications is 
                          <b>saved
                          </b> on their servers....
                        </span>
                      </div>
                      <div class="result-link-bar-container">
                        <span class="date">2 days ago
                        </span> 
                        <a href="javascript:void(0)">save job
                        </a> - 
                        <span>
                          <a href="#">more...
                          </a>
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

		      </div>
        </div>
        <!-- Search  jobs table start here 
      </div>
    </div>
  </div>
</div>
-->
<!--- content end here-->
